/* Esercizio 1 */

.ex-1-square{
    transition: 3s;
}

.ex-1-square:hover{
    background-color: red;
}

/* Esercizio 2 */

.ex-2-square{
    transition: 3s;
}

.ex-2-square:active{
    width: 100%;
}

/* Esercizio 3 */

.ex-3-square{
    transition: 3s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* Esercizio 4 */

.ex-4-square{
    transition: 3s;
}

.ex-4-square:hover{
    opacity: 0;
}

/* Esercizio 5 */

.ex-5-square{
    transition: 3s;
}

.ex-5-square:active{
    width: 10px;
    height: 10px;
}

.ex-5-square:hover{
    width: 100px;
    height: 100px;
}

/* Esercizio 6 */

.ex-6-img:hover{
    filter: grayscale(1);
}

/* Esercizio 7 */

.ex-7-img{
    transition: 1s;
}

.ex-7-img:hover{
    filter: blur(10px) saturate(10)
}

/* Esercizio 8 */

.ex-8-img{
    transition: 1s;
}

.ex-8-img:hover{
    filter: hue-rotate(20deg) grayscale(1);
    border: 5px solid black;
    border-radius: 20px;
}

/* Esercizio 9 */

.ex-9-img{
    transition: 1s;
}

.ex-9-img:hover{
    filter: hue-rotate(20deg) grayscale(1);
    border: 5px solid black;
    border-radius: 20px;
    scale: .35;
}

/* Esercizio 10*/

.ex-10-icon{
    animation: esempio 3s infinite;
}

@keyframes esempio{
    0%{
        transform: rotate(0deg)
    }

    100%{
        transform: rotate(360deg);
    }
}

/* Esercizio 11 */

.ex-11-icon{
    animation: esempio2 3s infinite;
}

@keyframes esempio2{
    0%{
        transform: rotate(0deg)
    }

    80%{
        transform: rotate(270deg);
    }

    100%{
        transform: rotate(0deg);
    }
}

/* Esercizio 12 */

.ex-12-top-white{
    animation: esempio3 10s infinite;
}

@keyframes esempio3{
    0%{
        top: -10px;
        left: 10%;
    }

    25%{
        top: -10px;
        left: calc(100% - 30px);
    }

    50%{
        top: calc(100% - 10px);
        left: calc(100% - 30px);
    }

    75%{
        top: calc(100% - 10px);
        left: -30px
    }

    90%{
        top: -10px;
        left: -30px;
    }

    100%{
        top: -10px;
        left: 10%;
    }
}

.ex-12-bottom-white{
    animation: esempio4 10s infinite;
}

@keyframes esempio4{
    0%{
        bottom: -10px;
        right: 20%;
    }

    25%{
        bottom: -10px;
        right: calc(100% - 30px);
    }

    50%{
        bottom: calc(100% - 10px);
        right: calc(100% - 30px);
    }

    75%{
        bottom: calc(100% - 10px);
        right: -30px
    }

    90%{
        bottom: -10px;
        right: -30px;
    }

    100%{
        bottom: -10px;
        right: 20%;
    }
}

